body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.lpe-brand-logo {
    margin-top:10px;
    height: 40px;
  }

  .lpe-dropdown-item {
    font-size: 11pt !important;
  }
  
  .lpe-about-dropdown-btn {
     margin-left: 0px !important;
  }

  .lpe-breadcrumb {
    font-size: 11pt !important;
  }
  

.slim-nav {

}

.slim-crumb {
  height:35px !important;
}

.slim-footer {

} 




