body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
.lpe-brand-logo {
    height: 30px;
    margin-top: 5px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 5px;
  }

  .lpe-dropdown-item {
    font-size: 11pt !important;
  }
  
  .lpe-about-dropdown-btn {
     margin-left: 0px !important;
  }

  .lpe-breadcrumb {
    font-size: 11pt !important;
    margin-left: 10px;  
    }
  
  .slim-crumb {
    height:28px !important;
  }

  .lpe-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
 }

.lpe-footer-p {
  margin-bottom: 0px;
  font-size: 10pt;
  padding-right: 10px;
}

  