/* FIRST PARALAX --------------------- */

/* Smallest */
@media only screen and (max-width: 400px) {
    #parallax1  { 
        width: 500px !important;
        height: 350px !important;
    }
  }

  /* Medium */
@media only screen and (max-width: 600px) {
    #parallax1  { 
      width: 500px !important;
      height: 350px !important;
    }
  }

  /* SECOND PARALAX --------------------- */
/* Smallest */
@media only screen and (max-width: 400px) {
    #parallax2  { 
      width: 700px !important;
      height: 450px !important;
    }
  }

  /* Medium */
@media only screen and (max-width: 600px) {
    #parallax2  { 
      width: 500px !important;
      height: 350px !important;
    }
  }
  
 /* THIRD PARALAX --------------------- */
  /* Smallest */
@media only screen and (max-width: 400px) {
    #parallax3  { 
      width: 700px !important;
      height: 450px !important;
    }
  }

  /* Medium */
@media only screen and (max-width: 600px) {
    #parallax3  { 
      width: 500px !important;
      height: 350px !important;
    }
  }
