@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html {
	font-family: 'Ubuntu Mono', monospace;
}

body {
	//background-color: #cccccc;
	background: linear-gradient(to top, #212121  0%, #a5d6a7 100%)
}

.fromTop{
 margin-top: 5px;
}

.botom0{
	margin-bottom: 0px;
}


.txt14{
	font-size: 14px !important;
}


.news-image {
width: 200px;
 //height: 400px;
 //overflow: hidden

}

.carousel { 
height: 240px;
}


.carousel .carousel-item {
width: 350px !important;

}

.tabs .indicator{
    background-color:#558b2f;
}

.tabs .tab a{
            color:#33691e;
}

.tabs .tab a:hover {
            background-color:#f1f8e9;
            color:#33691e;
}

.tabs .tab a:focus.active {
            background-color:#dcedc8;
            color:#33691e;
}

#map {
   width: 100%;
   height: 400px;
   background-color: grey;
 }